# Rider IDE
.idea/
*.sln.iml
.idea/*.iml
.idea/*.xml
*.DotSettings.user

# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio Code
.vscode/
.vs/

# User-specific files
*.rsuser
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
TestResults/

# OS specific
.DS_Store
Thumbs.db
